<div class="message-input">
  <%= form_for([@vacation, @message], remote: true, :url => vacation_messages_path(@vacation)) do |f| %>
    <%= f.text_area :content %>
    <%= f.submit "Send" %>
  <% end %>
</div>
