<body class="bg" id="form">
  <div class="vacation-container">
    <h1 class="dark"><%= @vacation.name %> Chat</h1>
<div class="message-wr">
  <%= render 'messages' %>
  <%= render 'message_form' %>
</div>
</div>
</body>
