---
http_interactions:
- request:
    method: post
    uri: https://accounts-sandbox.dwolla.com/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic amswT2ZoVDF5ODF6NE5jZkpEZTdlQXlJdGRIRXN4cDdCWnA2Z1VhUngyV3hGUWx5cHo6TWZFVEVOOHpaQVkzTzlKN2NrMElnWEozV1NtTHZZeFZCU0VkSXd0MVhBWWlybXloOU8=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"aXYb9pCa4GXtUIjJjUNaZqwP1ka4HzhUrVzLsRAYvojdmkJFSQ","expires_in":3342,"token_type":"Bearer"}'
  recorded_at: Sun, 26 May 2019 21:54:38 GMT
- request:
    method: post
    uri: https://api-sandbox.dwolla.com/customers
    body:
      encoding: UTF-8
      string: '{"firstName":"Snickers","lastName":"Dali","email":"keikosauer@boscokeler.biz","type":"personal","address1":"7
        Sesame Street","city":"Sesame","state":"TX","postalCode":"80202","dateOfBirth":"1970-01-01","ssn":"4444"}'
    headers:
      Authorization:
      - Bearer aXYb9pCa4GXtUIjJjUNaZqwP1ka4HzhUrVzLsRAYvojdmkJFSQ
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.dwolla.v1.hal+json
      Location:
      - https://api-sandbox.dwolla.com/customers/56957a52-089e-440a-aa90-a29fbefbc2ea
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 26 May 2019 21:54:39 GMT
- request:
    method: post
    uri: https://api-sandbox.dwolla.com/customers
    body:
      encoding: UTF-8
      string: '{"firstName":"Snickers","lastName":"Dali","email":"keikosauer@boscokeler.biz","type":"personal","address1":"7
        Sesame Street","city":"Sesame","state":"TX","postalCode":"80202","dateOfBirth":"1970-01-01","ssn":"4444"}'
    headers:
      Authorization:
      - Bearer aXYb9pCa4GXtUIjJjUNaZqwP1ka4HzhUrVzLsRAYvojdmkJFSQ
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.dwolla.v1.hal+json; profile="http://nocarrier.co.uk/profiles/vnd.error/"
    body:
      encoding: UTF-8
      string: '{"code":"ValidationError","message":"Validation error(s) present. See
        embedded errors list for more details.","_embedded":{"errors":[{"code":"Duplicate","message":"A
        customer with the specified email already exists.","path":"/email","_links":{"about":{"href":"https://api-sandbox.dwolla.com/customers/56957a52-089e-440a-aa90-a29fbefbc2ea","type":"application/vnd.dwolla.v1.hal+json","resource-type":"customer"}}}]}}'
  recorded_at: Sun, 26 May 2019 21:55:17 GMT
recorded_with: VCR 4.0.0
