---
http_interactions:
- request:
    method: post
    uri: https://accounts-sandbox.dwolla.com/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic amswT2ZoVDF5ODF6NE5jZkpEZTdlQXlJdGRIRXN4cDdCWnA2Z1VhUngyV3hGUWx5cHo6TWZFVEVOOHpaQVkzTzlKN2NrMElnWEozV1NtTHZZeFZCU0VkSXd0MVhBWWlybXloOU8=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"ZQrRy2KigdsfkNerb1czQeNL8vIF398hd1hDzzgRpwp9rolira","expires_in":3598,"token_type":"Bearer"}'
  recorded_at: Tue, 28 May 2019 17:35:16 GMT
- request:
    method: post
    uri: https://api-sandbox.dwolla.com/customers
    body:
      encoding: UTF-8
      string: '{"firstName":"Sasha","lastName":"Botticelli","email":"leopoldosporer@lehnerpfannerstill.co","type":"personal","address1":"123
        Address St.","city":"Denver","state":"CO","postalCode":"80206","dateOfBirth":"1980-07-11","ssn":"1234"}'
    headers:
      Authorization:
      - Bearer ZQrRy2KigdsfkNerb1czQeNL8vIF398hd1hDzzgRpwp9rolira
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.dwolla.v1.hal+json
      Location:
      - https://api-sandbox.dwolla.com/customers/4bd159a2-779c-4852-98b3-f6319279a188
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 28 May 2019 17:35:17 GMT
recorded_with: VCR 4.0.0
