---
http_interactions:
- request:
    method: post
    uri: https://accounts-sandbox.dwolla.com/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic amswT2ZoVDF5ODF6NE5jZkpEZTdlQXlJdGRIRXN4cDdCWnA2Z1VhUngyV3hGUWx5cHo6TWZFVEVOOHpaQVkzTzlKN2NrMElnWEozV1NtTHZZeFZCU0VkSXd0MVhBWWlybXloOU8=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"2TZVmurH9OWqgdVO1MgYAt4Ovrw32Ijz7d1OnyzvBz7ICtnAcz","expires_in":3327,"token_type":"Bearer"}'
  recorded_at: Mon, 27 May 2019 06:20:51 GMT
- request:
    method: post
    uri: https://api-sandbox.dwolla.com/transfers
    body:
      encoding: UTF-8
      string: '{"_links":{"source":{"href":"https://api-sandbox.dwolla.com/funding-sources/e0a56ffc-26db-4639-955c-68b351b52e9d"},"destination":{"href":"https://api-sandbox.dwolla.com/funding-sources/59cb098a-872e-4987-868b-4302e1afaaed"}},"amount":{"currency":"USD","value":"40.0"}}'
    headers:
      Authorization:
      - Bearer 2TZVmurH9OWqgdVO1MgYAt4Ovrw32Ijz7d1OnyzvBz7ICtnAcz
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.dwolla.v1.hal+json
      Location:
      - https://api-sandbox.dwolla.com/transfers/4b8f1bf7-4680-e911-8119-d7bc0de34d9c
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 27 May 2019 06:20:52 GMT
recorded_with: VCR 4.0.0
