---
http_interactions:
- request:
    method: post
    uri: https://accounts-sandbox.dwolla.com/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic amswT2ZoVDF5ODF6NE5jZkpEZTdlQXlJdGRIRXN4cDdCWnA2Z1VhUngyV3hGUWx5cHo6TWZFVEVOOHpaQVkzTzlKN2NrMElnWEozV1NtTHZZeFZCU0VkSXd0MVhBWWlybXloOU8=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"ZQrRy2KigdsfkNerb1czQeNL8vIF398hd1hDzzgRpwp9rolira","expires_in":3596,"token_type":"Bearer"}'
  recorded_at: Tue, 28 May 2019 17:35:18 GMT
- request:
    method: post
    uri: https://api-sandbox.dwolla.com/customers
    body:
      encoding: UTF-8
      string: '{"firstName":"Shelby","lastName":"Gauguin","email":"samantha@stoltenberg.co","type":"personal","address1":"7
        Sesame Street","city":"Sesame","state":"TX","postalCode":"80202","dateOfBirth":"1970-01-01","ssn":"4444"}'
    headers:
      Authorization:
      - Bearer ZQrRy2KigdsfkNerb1czQeNL8vIF398hd1hDzzgRpwp9rolira
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.dwolla.v1.hal+json
      Location:
      - https://api-sandbox.dwolla.com/customers/9b66d4e4-72ae-4cfc-893c-6cbcb2353fc9
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 28 May 2019 17:35:18 GMT
recorded_with: VCR 4.0.0
