---
http_interactions:
- request:
    method: post
    uri: https://accounts-sandbox.dwolla.com/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic amswT2ZoVDF5ODF6NE5jZkpEZTdlQXlJdGRIRXN4cDdCWnA2Z1VhUngyV3hGUWx5cHo6TWZFVEVOOHpaQVkzTzlKN2NrMElnWEozV1NtTHZZeFZCU0VkSXd0MVhBWWlybXloOU8=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"ZQrRy2KigdsfkNerb1czQeNL8vIF398hd1hDzzgRpwp9rolira","expires_in":3600,"token_type":"Bearer"}'
  recorded_at: Tue, 28 May 2019 17:35:14 GMT
- request:
    method: post
    uri: https://api-sandbox.dwolla.com/transfers
    body:
      encoding: UTF-8
      string: '{"_links":{"source":{"href":"https://api-sandbox.dwolla.com/funding-sources/3916d0d5-5368-45e6-ac63-b2aee3b3f327"},"destination":{"href":"https://api-sandbox.dwolla.com/funding-sources/ccd95555-fe25-4ba9-93a5-ac61c0d83e7a"}},"amount":{"currency":"USD","value":"40.0"}}'
    headers:
      Authorization:
      - Bearer ZQrRy2KigdsfkNerb1czQeNL8vIF398hd1hDzzgRpwp9rolira
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.dwolla.v1.hal+json
      Location:
      - https://api-sandbox.dwolla.com/transfers/4e765cf2-6e81-e911-8119-d7bc0de34d9c
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 28 May 2019 17:35:15 GMT
recorded_with: VCR 4.0.0
