---
http_interactions:
- request:
    method: post
    uri: https://accounts-sandbox.dwolla.com/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic amswT2ZoVDF5ODF6NE5jZkpEZTdlQXlJdGRIRXN4cDdCWnA2Z1VhUngyV3hGUWx5cHo6TWZFVEVOOHpaQVkzTzlKN2NrMElnWEozV1NtTHZZeFZCU0VkSXd0MVhBWWlybXloOU8=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"2ExmbjsiYJDMPnMdnIvIP7ED16pSDa0fbl3L2EDGSAPEWt1LoS","expires_in":3600,"token_type":"Bearer"}'
  recorded_at: Sun, 26 May 2019 21:37:08 GMT
- request:
    method: post
    uri: https://api-sandbox.dwolla.com/customers
    body:
      encoding: UTF-8
      string: '{"firstName":"Diamond","lastName":"Rothko","email":"madonnamccullough@boyer.org","type":"personal","address1":"7
        Sesame Street","city":"Sesame","state":"TX","postalCode":"80202","dateOfBirth":"1970-01-01","ssn":"4444"}'
    headers:
      Authorization:
      - Bearer 2ExmbjsiYJDMPnMdnIvIP7ED16pSDa0fbl3L2EDGSAPEWt1LoS
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.dwolla.v1.hal+json
      Location:
      - https://api-sandbox.dwolla.com/customers/117268a4-700e-49a0-8fb1-8c415e739727
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 26 May 2019 21:37:10 GMT
recorded_with: VCR 4.0.0
