<nav class="primary_nav">
  <section class="right links overflow-auto table mr4">
    <% if current_user %>
      <div class="align-middle table-cell p3">
        <%= link_to "Profile", dashboard_path %>
      </div>
    <% else %>
      <div class="align-middle table-cell p3">
        <%= button_to 'Sign In with PayPal', '/auth/paypal_oauth2', class: "btn btn-primary mb1 bg-teal" %>
      </div>
    <% end %>
  </section>
</nav>
