<body class="bg" id="form">
  <div class="form-container user-login">
    <h1 class="dark">Invite Participants</h1>
    <br>
    <p>You can invite participants to your <%= @vacation.name %>
     vacation by entering their email address in the box below.</p>
    <br>
    <p>For multiple addresses, please separate each email with a comma
     and a space.</p>
     <%= form_tag owner_vacation_invite_path(@vacation) do %>
    <%= text_field_tag :email_invitations %>
   <%= submit_tag 'Submit' %>
 <% end %>
  </div>
</body>
