body, html {
  height: 100%;
  font-size: 16px;
  line-height: 1.5em;
  font-family: Josefin Sans, sans-serif;
  background-color: #4dbfd0;
}

.bg {
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 30px;
  color: white;
}

#home {
  background-image: url(homepage.jpg);
}

#index {
  background-image: url(vacations-index.jpg);
}

nav {
  height: 110px;
  padding: 20px;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  margin-left: 30px;
}

nav a:hover {
  color: #f2f2f2;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #023143;
}

a:hover {
  color: #005170;
}

.logged-in {
  color:white;
  font-size:10px;
  align:right;
  float:right;
  line-height:1em;
  display: block;
}

.logo {
  color: white;
  float: left;
  font-size: 36px;
}

.align-right {
  float: right;
}

.vacay-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.vacay-item {
  flex-shrink: 1;
  padding: 20px;
  max-width: 400px;
  min-width: 300px;
  background-color: #cde5ee;
}

.vacay-item li {
  display:block;
}

.vacay-item h2 {
  margin-bottom:10px;
}
