body, html {
  height: 100%;
  font-size: 16px;
  line-height: 1.5em;
  font-family: Josefin Sans, sans-serif;
}

.bg {
  background-image: url("homepage.jpg");
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  height: 25px;
  padding: 20px;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  margin-left: 30px;
}

.logo {
  color: white;
  float: left;
  font-size: 36px;
}

.align-right {
  float: right;
}
