body, html {
  height: 100%;
  font-size: 18px;
  line-height: 1.5em;
  font-family: Josefin Sans, sans-serif;
  color: #282828;
}

.bg {
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-size: 30px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1.dark {
  font-size: 32px;
  color: #023143;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2.light {
  font-size: 27px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

h2 {
  font-size: 27px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #023143;
}

h3 {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #023143;
}

h4 {
  font-size: 20px;
  display: inline;
}

.spacers {
  margin-left: 15px;
  margin-right: 15px;
}

#home {
  background-image: image-url("homepage.jpg");
}

#index {
  background-image: image-url("vacations-index.jpg");
}

#form {
  background-image: image-url("form.jpg");
}

#vacation {
  background-image: image-url("vacation.jpg");
}

#dashboard {
  background-image: image-url("dashboard.jpg");
}

#activity {
  background-image: image-url("vacay-add.jpg");
}

#invite {
  background-image: image-url("invite.jpg");
}

#desert {
  background-image: image-url("desert.jpg");
}

nav {
  height: 110px;
  padding: 20px;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  margin-left: 30px;
}

nav a:hover {
  color: #fbd77a;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #023143;
}

a:hover {
  color: #005170;
}

.logged-in {
  color:white;
  font-size:12px;
  align:right;
  float:right;
  line-height:1em;
  display: block;
}

.logo {
  color: white;
  float: left;
  font-size: 36px;
}

.align-right {
  float: right;
}

.form-container {
  background-color: #cde5ee;
  padding: 20px;
  margin: auto;
  width: 40%;
  opacity: .9;
  text-align: center;
}

.checkbox-container {
  margin: auto;
  width: 40%;
  background-color: #cde5ee;
  padding: 20px;
  opacity: .9;
  font-size: 26px;
}

.vacation-header {
  background-color: #005170;
  padding: 20px;
  margin: auto;
  width: 80%;
  opacity: .9;
  height: 30px;
}


.header-grid {
  width: 20%;
  display: inline-block;
  float: left;
}

.header-grid-right {
  width: 25%;
  display: inline-block;
  float: right;
  text-align: right;
}

.activity-header {
  background-color: #005170;
  padding: 20px;
  margin: auto;
  width: 60%;
  opacity: .9;
  height: 30px;
}

.activity-header a{
  color: white;
}

.activity-header a:hover{
  color: #fbd77a;
}

.activity-container {
  background-color: #cde5ee;
  padding: 20px;
  margin: auto;
  width: 60%;
  opacity: .9;
  text-align: center;
  margin-bottom: 20px;
}

.wide {
  width: 50%;
  display: inline-block;
}

.vacation-container {
  background-color: #cde5ee;
  padding: 20px;
  margin: auto;
  width: 80%;
  opacity: .9;
  text-align: center;
  margin-bottom: 20px;
}

.dwolla-container {
  background-color: #cde5ee;
  padding: 20px;
  margin: auto;
  width: 65%;
  text-align: center;
  margin-bottom: 20px;
}

.profile-container {
  background-color: #cde5ee;
  padding: 20px;
  margin: auto;
  width: 50%;
  opacity: .9;
  text-align: center;
  margin-bottom: 20px;
}

.vacay-container {
  overflow: auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.vacay-item {
  flex-shrink: 1;
  padding: 20px;
  min-width: 40%;
  background-color: #cde5ee;
  flex-grow: 1;
  text-align: center;
  margin: 20px;
  flex-basis: 40%;
  opacity: .9;
}

.vacay-container {
  overflow: auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.vacay-item {
  flex-shrink: 1;
  padding: 20px;
  min-width: 40%;
  background-color: white;
  flex-grow: 1;
  text-align: center;
  margin: 20px;
  flex-basis: 40%;
  opacity: .9;
}

.vacay-item li {
  display:block;
}

.vacay-item h2 {
  margin-bottom:10px;
}

.button {
  background-color: #023143;
  border: none;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  margin: 15px 0px;
  cursor: pointer;
  height: 40px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.button:hover {
  background-color: #005170;
}

.btn {
  background-color: #023143;
  border: none;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  margin: 15px 0px;
  cursor: pointer;
  height: 50px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.btn:hover {
  background-color: #005170;
}

.upcoming-vacations {
  margin: 20px;
}

.subnav {
  text-align: left;
  display: block;
  height: 25px;
  margin-bottom: 20px;
  width: 100%;
  float: left;
}

.subnav-right {
  text-align: right;
  display: block;
  height: 25px;
  margin-bottom: 20px;
  width: 100%;
  float: right;
}

.subnav-right{
  text-align: right;
  display: block;
  height: 25px;
  margin-bottom: 20px;
  width: 100%;
}

.subnav a {
  text-decoration: none;
  margin-right: 20px;
}

.attendee {
  background-color: #023143;
  border: none;
  color: white;
  text-decoration: none;
  margin: 5px 5px;
  padding: 10px;
  height: 22px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block
}

input[type=checkbox] {
         position: relative;
	       cursor: pointer;
         width: 30px;
         height: 26px;
    }
    input[type=checkbox]:before {
         content: "";
         display: block;
         position: absolute;
         width: 25px;
         height: 25px;
         top: 0;
         left: 0;
         border: 2px solid black;
         border-radius: 3px;
         background-color: white;
}
    input[type=checkbox]:checked:after {
         content: "";
         display: block;
         width: 9px;
         height: 18px;
         border: solid black;
         border-width: 0 2px 2px 0;
         -webkit-transform: rotate(45deg);
         -ms-transform: rotate(45deg);
         transform: rotate(45deg);
         position: absolute;
         top: 2px;
         left: 9px;
}

.center {
  text-align: center;
}

.push-right {
  margin-left: 30%;
}

input[type=text], input[type="date"], input[type="number"],
input[type="password"], input[type="email"] {
  width: 80%;
  height: 25px;
  padding: 25px 25px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: Josefin Sans;
}

textarea {
  width: 80%;
  height: 100px;
  padding: 25px 25px;
  box-sizing: border-box;
  margin: 8px 0;
  font-size: 20px;
  font-family: Josefin Sans;
}

select {
  width: 80%;
  height: 50px;
  padding: 25px 25px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: Josefin Sans;
}

.flash {
  background-color: #005170;
  color: white;
  width: 100%;
  padding: 5px;
  margin: auto;
  text-align: center;
  opacity: .8;
}

.attendee a {
  color: white;
}
